<form class="card-form">
  <label>
    <input type="text" name="title">
  </label>
  <br>
  <label>
    <textarea name="description" rows="2" cols="20"></textarea>
  </label>
  <input type="submit" value="Save" class='new-card-button'>
</form>
