<h1> Board Index </h1>

<ul>
  <% collection.each(function(board){ %>
    <li>
      <a href="#/boards/<%= board.get('id') %>" >
        <%= board.get('title') %>
      </a>
    </li>
  <% }) %>
</ul>

<a href='#/boards/new'> Create New Board </a>
