<h1> Create a Board </h1>

<form class="boards-form">

  <label>Title
    <input type="text" name="title">
  </label>

  <br>

  <input type="submit" value="Create Board">
</form>

<a href=""> Back to Index </a>
