<h1> Board Index </h1>

<ul class="board-index">
  <% collection.each(function(board){ %>
    <li>
      <a href="#/boards/<%= board.get('id') %>" >
        <%= board.get('title') %>
      </a>

      <button class='delete' data-id="<%=board.id%>"> Delete! </button>
    </li>
  <% }) %>
</ul>

<a href='#/boards/new'> Create New Board </a>
